name: Benchmark

on: [push, pull_request]
jobs:
  Rendering:
    if: (github.event_name == 'pull_request') == github.event.pull_request.head.repo.fork
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.x'
    - run: dotnet run -p CSharpMath.Rendering.Benchmarks
    - name: Store benchmark result
      uses: benchmark-action/github-action-benchmark@v1
      with:
        name: CSharpMath.Rendering.Benchmarks
        tool: 'benchmarkdotnet'
        output-file-path: .benchmarkresults/results/CSharpMath.Rendering.Benchmarks.Program-report-full-compressed.json
        github-token: ${{ github.token }}
        auto-push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }} # Push and deploy GitHub pages branch automatically
        alert-threshold: 155% # Should not be lower than 155% to take account of fluctuations of CI load, see https://github.com/verybadcat/CSharpMath/pull/156#commitcomment-42067078
        comment-on-alert: true # Show alert with commit comment on detecting possible performance regression
        fail-on-alert: true
        alert-comment-cc-users: '@Happypig375'