name: Build and Test

on: [push, pull_request]
jobs:
  Unix:
    if: (github.event_name == 'pull_request') == github.event.pull_request.head.repo.fork
    strategy:
      fail-fast: false # Don't cancel other os builds if one fails
      matrix:
        # Check included Xcode versions for GitHub Actions: https://github.com/actions/runner-images?tab=readme-ov-file#available-images
        os: [ubuntu-latest, macos-26] # windows-latest is tested in Nightly.yml. It also needs special handling with regards to CSharpMath.Uno.Example so it's omitted here.
    runs-on: ${{ matrix.os }}
    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      if: startsWith(matrix.os, 'macos')
      with:
        # Check required Xcode version for latest "dotnet workload restore": https://github.com/dotnet/macios/releases
        xcode-version: '26.2' # If this is to be changed, also check macos-version in matrix.os above
    - uses: actions/setup-dotnet@main
      if: matrix.os != 'ubuntu-latest'
      with:
        dotnet-version: '10.x'
        workloads: maui, wasm-tools
    - uses: actions/setup-dotnet@main
      if: matrix.os == 'ubuntu-latest'
      with:
        dotnet-version: '10.x'
        workloads: maui-android, wasm-tools
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Build Everything
      run: dotnet build
    - name: Run Tests
      run: dotnet test --no-build --solution CSharpMath.slnx
